* {
    font-family: "JetBrains Mono", monospace;
}

html,
body {
    height: 100%;
}

.cornerContainer {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flexbox;
}

.settingsContainer {
    margin-right: 10px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}


.mainContainer {
    flex-direction: row;
    margin: auto;
}



.teamNameContainer {
    font-size: 7rem;
}


.label {
    font-style: italic;
}

.generalInfo {
    margin-right: 0.6rem;
    flex-shrink: 0;
}

.statsInfo {
    flex-shrink: 0;
    margin-right: 10px;
}

.icons {
    font-size: 1002rem;
    transform: translateY(-130%);
}

.reloadContainer {
    margin-right: 10px;
}

@media screen and (max-width: 900px) {
    .body {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .cornerContainer,
    .mainContainer {
        width: 100%;
    }

    .cornerContainer {
        order: -1;
    }

    .mainContainer {
        flex-direction: column;
        margin-top: 4rem;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 1rem;
    }

    .generalInfo {
        margin-right: 0rem;
        margin-bottom: .7rem;
    }

    .generalInfo,
    .statsInfo {
        width: 100%;
    }
}