* {
    font-family: "JetBrains Mono", monospace;
}

html,
body {
    height: 100%;
}

.cornerContainer {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flexbox;
}

.rightCornerContainer {
    position: absolute;
    top: 0px;
    right: 0px;
    display: flexbox;
}

.teamImage {
    width: 24px;
    display: inline-block;
    margin-bottom: 8px;
}

.settingsContainer {
    margin-right: 10px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}


.mainContainer {
    flex-direction: row;
    margin: auto;
}



.teamNameContainer {
    font-size: 7rem;
}


.label {
    font-style: italic;
}

.generalInfo {
    margin-right: 0.6rem;
    flex-shrink: 0;
}

.statsInfo {
    flex-shrink: 0;
    margin-right: 10px;
}

.icons {
    font-size: 1002rem;
    transform: translateY(-130%);
}

.reloadContainer {
    margin-right: 10px;
}

.qrCodeContainer {
    margin-right: 10px;
    text-decoration: none;
}

.qrCodeContainer span {
    text-decoration: none;
}


.socialContainer {
    text-decoration: none;
    color: white;
    display: flex;
}





.robotImageContainer {
    width: 400px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: 1px solid black;
    text-align: center;
    position: relative;
}

.robotImageContainer img {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

* {
    box-sizing: border-box;
}

body {
    font: 16px Arial;
}

.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
}

input {
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
}

input[type=text] {
    width: 75%;
}

input[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
}

.autocomplete-items {
    width: 74.1%;
    position: absolute;
    border: 1px solid #495057;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 26.2%;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #212529;
    border-bottom: 1px solid #495057;
}

.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color:dodgerblue;
}

.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
}

@keyframes animateSocialsOut {
    0% {
        width: 44px;
    }

    100% {
        width: 107px;
    }
}

@keyframes animateSocialsIn {
    0% {
        width: 107px;
    }

    100% {
        width: 44px;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
    }
}


@media screen and (max-width: 900px) {
    .body {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .cornerContainer,
    .mainContainer,
    .robotImageContainer {
        width: 100%;
    }

    .cornerContainer {
        order: -1;
    }

    .mainContainer {
        flex-direction: column;
        margin-top: 4rem;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 1rem;
    }

    .generalInfo {
        margin-right: 0rem;
        margin-bottom: .7rem;
    }

    .statsInfo {
        margin-right: 0px;
        margin-bottom: .7rem;
    }

    .generalInfo,
    .statsInfo {
        width: 100%;
    }
}